# 06_03: Pandas DataFrame Indexing

In [1]:
import math
import collections

import numpy as np
import pandas as pd
import matplotlib.pyplot as pp

%matplotlib inline

In [2]:
pd.options.display.max_rows = 16

In [3]:
nobels = pd.read_csv('nobels.csv', names=['year','discipline','nobelist'])

In [4]:
nobels.index

RangeIndex(start=0, stop=950, step=1)

In [6]:
nobels_by_year = nobels.set_index('year')

In [7]:
nobels_by_year

      discipline                      nobelist
year
1901   Chemistry  Jacobus Henricus van 't Hoff
1901  Literature               Sully Prudhomme
1901    Medicine        Emil Adolf von Behring
1901       Peace                Frédéric Passy
1901       Peace                  Henry Dunant
...          ...                           ...
2019    Medicine            William Kaelin Jr.
2019       Peace                    Abiy Ahmed
2019     Physics                 Didier Queloz
2019     Physics                 James Peebles
2019     Physics                  Michel Mayor

[950 rows x 2 columns]

In [8]:
nobels_by_year.index

Int64Index([1901, 1901, 1901, 1901, 1901, 1901, 1902, 1902, 1902, 1902,
            ...
            2019, 2019, 2019, 2019, 2019, 2019, 2019, 2019, 2019, 2019],
           dtype='int64', name='year', length=950)

In [9]:
nobels_by_year.loc[1901] #всі записи для індексу 1901

      discipline                      nobelist
year
1901   Chemistry  Jacobus Henricus van 't Hoff
1901  Literature               Sully Prudhomme
1901    Medicine        Emil Adolf von Behring
1901       Peace                Frédéric Passy
1901       Peace                  Henry Dunant
1901     Physics               Wilhelm Röntgen

In [10]:
nobels_by_year.loc[1901, 'nobelist']

year
1901    Jacobus Henricus van 't Hoff
1901                 Sully Prudhomme
1901          Emil Adolf von Behring
1901                  Frédéric Passy
1901                    Henry Dunant
1901                 Wilhelm Röntgen
Name: nobelist, dtype: object

In [11]:
nobels_by_year.loc[1914:1918]

      discipline                                  nobelist
year
1914   Chemistry                 Theodore William Richards
1914    Medicine                             Robert Bárány
1914     Physics                              Max von Laue
1915   Chemistry                       Richard Willstätter
1915  Literature                            Romain Rolland
1915     Physics                       William Henry Bragg
1915     Physics                    William Lawrence Bragg
1916  Literature                     Verner von Heidenstam
1917  Literature                        Henrik Pontoppidan
1917  Literature                     Karl Adolph Gjellerup
1917       Peace  International Committee of the Red Cross
1917     Physics                     Charles Glover Barkla
1918   Chemistry                               Fritz Haber
1918     Physics                                Max Planck

In [12]:
nobels_by_discipline = nobels.set_index('discipline').sort_index()

In [13]:
nobels_by_discipline.head()

            year                      nobelist
discipline
Chemistry   1901  Jacobus Henricus van 't Hoff
Chemistry   1988                  Robert Huber
Chemistry   1932               Irving Langmuir
Chemistry   1988            Johann Deisenhofer
Chemistry   1988                Hartmut Michel

In [14]:
nobels_by_discipline.loc['Physics']

            year            nobelist
discipline
Physics     1951       Ernest Walton
Physics     2018       Arthur Ashkin
Physics     1957      Chen Ning Yang
Physics     1906       J. J. Thomson
Physics     1953       Frits Zernike
...          ...                 ...
Physics     1999     Gerard 't Hooft
Physics     1922          Niels Bohr
Physics     1998  Robert B. Laughlin
Physics     1921     Albert Einstein
Physics     2019        Michel Mayor

[213 rows x 2 columns]

In [15]:
nobels_by_discipline.loc['Medicine':'Peace']

            year                                          nobelist
discipline
Medicine    1995                       Christiane Nüsslein-Volhard
Medicine    1993                               Phillip Allen Sharp
Medicine    1927                             Julius Wagner-Jauregg
Medicine    1994                                  Alfred G. Gilman
Medicine    1993                                Richard J. Roberts
...          ...                                               ...
Peace       1973                                   Henry Kissinger
Peace       1995  Pugwash Conferences on Science and World Affairs
Peace       1911                              Alfred Hermann Fried
Peace       1973                                        Le Duc Tho
Peace       1974                                     Seán MacBride

[353 rows x 2 columns]

In [16]:
nobels_by_year.iloc[0:10] #якщо потрібна прогресивна кількість записів

      discipline                      nobelist
year
1901   Chemistry  Jacobus Henricus van 't Hoff
1901  Literature               Sully Prudhomme
1901    Medicine        Emil Adolf von Behring
1901       Peace                Frédéric Passy
1901       Peace                  Henry Dunant
1901     Physics               Wilhelm Röntgen
1902   Chemistry          Hermann Emil Fischer
1902  Literature               Theodor Mommsen
1902    Medicine                   Ronald Ross
1902       Peace          Charles Albert Gobat

In [17]:
nobels_multi = nobels.set_index(['year','discipline']) #мультііндекс

In [18]:
nobels_multi

                                     nobelist
year discipline
1901 Chemistry   Jacobus Henricus van 't Hoff
     Literature               Sully Prudhomme
     Medicine          Emil Adolf von Behring
     Peace                     Frédéric Passy
     Peace                       Henry Dunant
...                                       ...
2019 Medicine              William Kaelin Jr.
     Peace                         Abiy Ahmed
     Physics                    Didier Queloz
     Physics                    James Peebles
     Physics                     Michel Mayor

[950 rows x 1 columns]

In [19]:
nobels_multi.index

MultiIndex([(1901,  'Chemistry'),
            (1901, 'Literature'),
            (1901,   'Medicine'),
            (1901,      'Peace'),
            (1901,      'Peace'),
            (1901,    'Physics'),
            (1902,  'Chemistry'),
            (1902, 'Literature'),
            (1902,   'Medicine'),
            (1902,      'Peace'),
            ...
            (2019,  'Economics'),
            (2019,  'Economics'),
            (2019, 'Literature'),
            (2019,   'Medicine'),
            (2019,   'Medicine'),
            (2019,   'Medicine'),
            (2019,      'Peace'),
            (2019,    'Physics'),
            (2019,    'Physics'),
            (2019,    'Physics')],
           names=['year', 'discipline'], length=950)

In [20]:
nobels_multi.index.get_level_values(0)

Int64Index([1901, 1901, 1901, 1901, 1901, 1901, 1902, 1902, 1902, 1902,
            ...
            2019, 2019, 2019, 2019, 2019, 2019, 2019, 2019, 2019, 2019],
           dtype='int64', name='year', length=950)

In [21]:
nobels_multi.index.get_level_values(1)

Index(['Chemistry', 'Literature', 'Medicine', 'Peace', 'Peace', 'Physics',
       'Chemistry', 'Literature', 'Medicine', 'Peace',
       ...
       'Economics', 'Economics', 'Literature', 'Medicine', 'Medicine',
       'Medicine', 'Peace', 'Physics', 'Physics', 'Physics'],
      dtype='object', name='discipline', length=950)

In [22]:
nobels_multi.loc[(2017, 'Physics')]

                     nobelist
year discipline
2017 Physics     Barry Barish
     Physics       Kip Thorne
     Physics     Rainer Weiss

In [23]:
nobels_multi.loc[(1901:1910, 'Chemistry')]

SyntaxError: invalid syntax (2556996078.py, line 1)

In [24]:
nobels_multi.loc[(slice(1901,1910), 'Chemistry')]

KeyError: 'Chemistry'

In [25]:
# to avoid multi-indexing ambiguity, we specify a range of columns (here ":" for all of them)
nobels_multi.loc[(slice(1901,1910), 'Chemistry'), :]

                                     nobelist
year discipline
1901 Chemistry   Jacobus Henricus van 't Hoff
1902 Chemistry           Hermann Emil Fischer
1903 Chemistry               Svante Arrhenius
1904 Chemistry                 William Ramsay
1905 Chemistry               Adolf von Baeyer
1906 Chemistry                  Henri Moissan
1907 Chemistry                 Eduard Buchner
1908 Chemistry              Ernest Rutherford
1909 Chemistry                Wilhelm Ostwald
1910 Chemistry                   Otto Wallach

In [26]:
# slice(None) is longhand for the end-to-end slice ":"
nobels_multi.loc[(slice(None), ['Chemistry','Physics']), :]

                                     nobelist
year discipline
1901 Chemistry   Jacobus Henricus van 't Hoff
     Physics                  Wilhelm Röntgen
1902 Chemistry           Hermann Emil Fischer
     Physics                  Hendrik Lorentz
     Physics                    Pieter Zeeman
...                                       ...
2019 Chemistry             John B. Goodenough
     Chemistry         M. Stanley Whittingham
     Physics                    Didier Queloz
     Physics                    James Peebles
     Physics                     Michel Mayor

[397 rows x 1 columns]

In [27]:
# make three Boolean masks based on year and discipline values;
# combine them element-by-element with logical AND; use result as fancy index

nobels[(nobels.year >= 1901) & (nobels.year <= 1910) & (nobels.discipline == 'Chemistry')]

    year discipline                      nobelist
0   1901  Chemistry  Jacobus Henricus van 't Hoff
6   1902  Chemistry          Hermann Emil Fischer
13  1903  Chemistry              Svante Arrhenius
20  1904  Chemistry                William Ramsay
26  1905  Chemistry              Adolf von Baeyer
31  1906  Chemistry                 Henri Moissan
37  1907  Chemistry                Eduard Buchner
43  1908  Chemistry             Ernest Rutherford
50  1909  Chemistry               Wilhelm Ostwald
57  1910  Chemistry                  Otto Wallach

In [28]:
nobels.query('year >= 1901 and year <= 1910 and discipline == "Chemistry"')

    year discipline                      nobelist
0   1901  Chemistry  Jacobus Henricus van 't Hoff
6   1902  Chemistry          Hermann Emil Fischer
13  1903  Chemistry              Svante Arrhenius
20  1904  Chemistry                William Ramsay
26  1905  Chemistry              Adolf von Baeyer
31  1906  Chemistry                 Henri Moissan
37  1907  Chemistry                Eduard Buchner
43  1908  Chemistry             Ernest Rutherford
50  1909  Chemistry               Wilhelm Ostwald
57  1910  Chemistry                  Otto Wallach